    <div class="container text-center">
        <div class="row justify-content-center h-20">
            <div class="col">
                <shared-title [title]="title"></shared-title>
            </div>
        </div>
        <div class="row justify-content-around h-80">
            <div class="col-4">
                <img src="assets/img/kid-world-book-day.png" class="img-fluid" alt="J.A.R.V.I.S">
                <button type="button" class="btn btn-secondary w-100" routerLink="/topic-selection" routerLinkActive="active" >Seleccionar Jarvis</button>
            </div>
            <div class="col-4">
                <img src="assets/img/set-female-teacher.png" class="img-fluid" alt="ALEXA">
                <button type="button" class="btn btn-secondary w-100" routerLink="/topic-selection" routerLinkActive="active" >Seleccionar Alexa</button>
            </div>
        </div>
    </div>


    <div class="container text-center" style="padding-top: 20px;">
        <div class="row justify-content-center h-20">
            <div class="col-4">                
                <button type="button" class="btn btn-secondary w-100" 
                routerLink="" 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}">Regresar</button>
            </div>
        </div>
    </div>
    

