<div>

    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col">
                <shared-title [title]="title"></shared-title>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-3">
                <img src="assets/img/kid-world-book-day.png" class="img-fluid" alt="J.A.R.V.I.S">

                <h4>
                    <strong class="mb-3">Jarvis</strong>
                </h4>
            </div>
            <div class="col-3">
                <img src="assets/img/set-female-teacher.png" class="img-fluid" alt="ALEXA">
                <h4>
                    <strong class="mb-3">Alexa</strong>
                </h4>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-4">
                <button type="button" class="btn btn-secondary w-100" routerLink="/avatar-selection" routerLinkActive="active" >Iniciar</button>
            </div>
          </div>
    </div>

</div>
