    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col">
                <shared-title [title]="title"></shared-title>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col card">
                <img src="assets/img/diagram-mitosis.png" class="img-fluid" alt="mitosis">
            </div>
        </div>
        <div class="row justify-content-end">            
            <div class="col">
            </div>
        </div>
    </div>
    <div class="container text-center" style="padding-top: 20px;">
        <div class="row justify-content-center">
            <div class="col-4">                
                <button type="button" class="btn btn-secondary w-100" routerLink="/learning-about-topic" routerLinkActive="active">Regresar</button>  
            </div>
        </div>
    </div>

