
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col">
                <shared-title [title]="title"></shared-title>
            </div>
        </div>
        <!-- <div class="row justify-content-around h-40">
            <div class="col-4">
                <img src="assets/img/set-female-teacher.png" class="img-fluid" alt="ALEXA">
            </div>
            
            <div class="col-4">
                <h3>
                    <strong class="mt-4">Antes de jugar debemos aprender sobre la mitosis. <br>Ver video ↓↓↓</strong>
                </h3>
            </div>
        </div> -->
        <div class="row justify-content-end">            
            <div #demoYouTubePlayer class="col demo-youtube-player">
                <youtube-player [width]="videoWidth" [height]="videoHeight" videoId="nmB7db5gPW8"></youtube-player>
            </div>
        </div>
    </div>

    <div class="container text-center" style="padding-top: 20px;">
        <div class="row justify-content-center">
            <div class="col-4">                
                <button type="button" class="btn btn-secondary w-100" routerLink="/puzzle-challenge" routerLinkActive="active">Jugar</button>
            </div>
            <div class="col-4">                
                <button type="button" class="btn btn-secondary w-100" routerLink="/topic-selection" routerLinkActive="active">Regresar</button>
            </div>
        </div>
    </div>

