<div class="bg-success p-2">

    <div class="container text-center">
        <div class="row justify-content-center h-20">
            <div class="col">
                <shared-title [title]="title"></shared-title>
            </div>
        </div>
        <div class="row justify-content-center h-40">
            <div class="col-4">
                <img src="assets/img/set-female-teacher.png" class="img-fluid" alt="ALEXA">
                <p>Alexa</p>
            </div>
        </div>
        <div class="row justify-content-around h-40">
            <div class="col-4">
                <img src="assets/img/esquema-de-la-mitosis-fases7.jpg" class="img-fluid" alt="Mitosis">
                <button type="button" class="btn btn-secondary w-100" routerLink="/learning-about-topic" routerLinkActive="active" >Mitosis</button>
            </div>
            
            <div class="col-4">
                <img src="assets/img/meiosis-imagen.png" class="img-fluid" alt="Meiosis">
                <button type="button" class="btn btn-secondary w-100" routerLink="/learning-about-topic" routerLinkActive="active" >Meiosis</button>
            </div>
        </div>
    </div>

</div>

<button type="button" class="btn btn-secondary w-100" routerLink="/avatar-selection" routerLinkActive="active">Regresar</button>

